TOKEN="DISCORD_TOKEN"
PREFIX="CLIENT_PREFIX"
PRODUCTION="PRODUCTION_STATUS"
DEBUG="DEBUGGING"

DATABASE="MYSQL_URI"

LAVALINK="LAVALINK_URL"
AUTH="LAVALINK_AUTH"
SECURE="LAVALINK_SSL"

MAXQUEUE="MAX_QUEUE_SIZE"
MAXPLAYLIST="MAX_PLAYLIST_LOAD"
ENGINE="SEARCH_ENGINE"
